:root {
  --bg-color: #8a8484;
  --card-color: #c0c9c9;
  --text-color: #170303;
  --accent-color: #1e90ff;
  --danger-color: #ff4f4f;
  --border-radius: 10px;
  --shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Segoe UI', Roboto, sans-serif;
}
.App {
  background-color: var(--bg-color);
  min-height: 100vh;
  text-align: center;
}
.menu-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #1f0404;
  margin-bottom: 2rem;
}
.menu-nav a {
  background-color: var(--accent-color);
  color: rgb(255, 255, 255);
  padding: 0.6rem 1.2rem;
  border-radius: var(--border-radius);
  text-decoration: rgba(149, 149, 162, 0.738);
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: flex;
  align-items: center;
  gap: 8px;
}
.menu-nav a:hover {
  background-color: #007ae5;
  transform: translateY(-2px);
  
}
.card-produto {
  background-color: var(--card-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  padding: 1.5rem;
  margin: 1rem 0;
  width: 100%;
  max-width: 600px;
  transition: transform 0.3s ease;
}
.card-produto:hover {
  transform: scale(1.01);
}